:root {
  --iris: #4d5ae5; /*IRIS*/
  --ocean: #404bbf; /*OCEAN*/
  --slate: #434455; /*SLATE*/
  --green: #31d0aa; /*GREEN*/
  --navyblue: #2e2f42; /*NAVY BLUE*/
  --cloudslate: #8e8f99; /*LIGHT SLATE*/
  --cornflower: #e7e9fc; /*CORNFLOWER*/
  --cloud: #f4f4fd; /*CLOUD*/
  --navybluemodal: #2e2f4266; /*NAVY BLUE MODAL*/
  --grey: #2e2f42b2; /*GREY*/
  --white: #ffffff; /*WHITE*/
  --dairy: #fcfcfc; /*DAIRY*/
}
/* Global */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

button {
    cursor: pointer;
}

input {
    font-family: inherit;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* =============================== Mobile ========================*/

@media screen and (max-width: 768px) {

    /* =============================== header ========================*/

    .logo {
        display: block;
        color: var(--iris);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
    }

    .header-link-span {
        color: var(--navyblue);
    }

    .navigation-list {
        display: none;
    }

    .contact {
        display: none;
    }

    .header {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-button {
        border: none;
        background-color: transparent;
        padding: 0;
        height: 40px;
    }

    .icon-mobile {
        fill: var(--navyblue);
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: var(--dairy);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms linear, visibility 250ms linear;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .thumb-mobile {
        position: relative;
        padding-left: 16px;
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .mobile-close {
        position: absolute;
        top: 24px;
        right: 16px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        background-color: var(--cornflower);
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .nav-mobile {
        display: block;

        color: var(--navyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        margin-bottom: 40px;
    }

    .nav-mobile:hover,
    .nav-mobile:focus {
        color: var(--ocean);
    }

    .mobile-list {
        margin-bottom: 168px;
    }

    .mobile-address {
        margin-bottom: 48px;
    }

    .mobile-link-address {
        display: block;

        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;

        margin-bottom: 24px;
    }

    .mobile-link-address:hover,
    .mobile-link-address:focus {
        color: var(--ocean);
    }

    .mobile-menu .social-list {
        gap: 40px;
    }

    .nav-mobile.current,
    .mobile-link-address.current {
        color: var(--ocean);
    }

    /* =============================== description ========================*/


    .description-icon {
        display: none;
    }

    .description-container {
        width: 100%;
    }

    .general-title {
        text-align: center;

        color: var(--navyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        margin-bottom: 8px;
    }

    .general-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .description-item:not(:last-child) {
        margin-bottom: 72px;
    }
}


/* =============================== hero/team/portfolio ========================*/
@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .hero {
        background-color: var(--navyblue);
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)), url(../images/people-office-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        padding-top: 72px;
        padding-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 320px) and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/people-office-mobile@2x.jpg);
        }
    }

    .hero-title {
        color: var(--white);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    }

    .main-button {
        display: block;
        min-width: 169px;
        height: 56px;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 16px 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-button:hover,
    .main-button:focus {
        background-color: var(--ocean);
    }

  /* =============================== team ========================*/
    .general-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-info .general-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .team-info .general-text {
        font-weight: 400;
    }

    .team {
        background-color: var(--cloud);
    }

    .main-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .team-item {
        width: 264px;
        background-color: var(--white);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .team-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .team-info .general-text {
        margin-bottom: 8px;
    }

    .social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--iris);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-info .social-link:hover,
    .team-info .social-link:focus {
        background-color: var(--ocean);
    }

    .icon {
        fill: var(--cloud);
    }

    /* =============================== portfolio ========================*/
    .overlay {
        display: none;
    }

    .portfolio-item {
        background: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:not(:last-child) {
        margin-bottom: 48px;
    }

    .portfolio-info {
        padding: 32px 16px;
        border: 1px solid var(--cloud);
        border-top: none;
    }

    .portfolio-info .general-title {
        color: var(--navyblue);
        text-align-last: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .portfolio-info .general-text {
        font-weight: 400;
    }

    /* =============================== footer ========================*/

    .footer {
        background-color: var(--navyblue);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-base {
        margin-left: auto;
        margin-right: auto;
        width: 264px;
        margin-bottom: 72px;
    }

    .footer-link {
        display: flex;
        justify-content: center;
        color: var(--iris);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 16px;
    }

    .footer .general-text {
        font-weight: 400;
        color: var(--white);
    }

    .footer .header-link-span {
        color: var(--cloud);
    }

    .footer .general-text {
        color: var(--cloud);
    }

    .footer-copy {
        color: var(--white);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;

        margin-bottom: 16px;
    }

    .social-block .social-list {
        gap: 16px;
        margin-bottom: 72px;
    }

    .social-block .social-link:hover,
    .social-block .social-link:focus {
        background-color: var(--green);
    }

    .subscribe-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe-input {
        width: 264px;
        height: 40px;
        color: var(--white);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        border-radius: 4px;
        border: 1px solid var(--white);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: transparent;
        outline: none;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 16px;
    }

    .subscribe-input::placeholder {
        color: var(--white);
    }

    .subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border: none;
        background-color: var(--iris);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe-button:hover,
    .subscribe-button:focus {
        background-color: var(--ocean);
    }

    .subscribe-icon {
        margin-left: 16px;
    }
}




/* =============================== tablet ========================*/

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

 /* =============================== header ========================*/

    .logo {
        display: block;
        color: var(--iris);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
    }

    .header-link-span {
        color: var(--navyblue);
    }

    .mobile-menu {
        display: none;
    }

    .mobile-button {
        display: none;
    }

    .header {
        border-bottom: 1px solid var(--cornflower);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .navigation-link {
        color: var(--navyblue);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .stress-link {
        display: block;
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .stress-link.current {
        color: var(--ocean);
    }

    .stress-link::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        min-height: 4px;
        border-radius: 2px;
        content: "";
        background-color: var(--ocean);
        opacity: 0;
        transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .stress-link:hover::after,
    .stress-link.current::after {
        opacity: 1;
    }

    .items-decoration .navigation-link {
        color: var(--slate);
        font-weight: 400;
    }

    .navigation-link:hover,
    .navigation-link:focus {
        color: var(--ocean);
    }

   /* =============================== hero ========================*/

    .hero {
        max-width: 768px;
        background-color: var(--navyblue);
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/people-office-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        padding-top: 112px;
        padding-bottom: 112px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/people-office-tablet@2x.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        color: var(--white);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 36px;
    }

    .main-button {
        display: block;
        min-width: 169px;
        height: 56px;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 16px 32px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-button:hover,
    .main-button:focus {
        background-color: var(--ocean);
    }

    /* =============================== description ========================*/

    .description-icon {
        display: none;
    }

    .general-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .description-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .general-title {
        color: var(--navyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    .general-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

   /* =============================== team ========================*/

    .general-list {
        flex-direction: row;
        justify-content: center;
        row-gap: 64px;
    }

    .team-item:not(:last-child) {
        margin-bottom: 0;
    }

    /* =============================== portfolio ========================*/

    .portfolio-list {
        flex-wrap: wrap;
        row-gap: 48px;
    }

    .portfolio-item:not(:last-child) {
        margin-bottom: 0;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    /* =============================== footer ========================*/

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 108px;
    }

    .footer-base {
        margin-left: 0;
        margin-right: 24px;
    }

    .footer-link {
        display: flex;
        justify-content: start;
    }

    .social-block {
        width: 208px;
    }

    .footer-copy {
        text-align: left;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }
}


/* =============================== desktop ========================*/

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

  /* =============================== header ========================*/

    .contact-list {
        display: flex;
        gap: 40px;
    }

   /* =============================== hero ========================*/
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);

        padding-top: 188px;
        padding-bottom: 188px;
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)), url(../images/people-office-desktop@2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

   /* =============================== description ========================*/

    .description-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .description-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid var(--cloudslate);
        background-color: var(--cloud);
        margin-bottom: 8px;
    }

    .general-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .general-text {
        font-weight: 400;
        letter-spacing: 0.002em;
    }

    .general-list {
        flex-wrap: nowrap;
    }


    .general-list.portfolio-list {
        flex-wrap: wrap;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
        border: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
    }

    .portfolio-overlay-container {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--iris);
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms ease-in-out;
    }

    .portfolio-item:hover .overlay {
        transform: translateY(0);
    }

    .portfolio-overlay-container .general-text {
        color: var(--cloud);
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* =============================== footer ========================*/
    .footer-container {
        display: flex;
        justify-content: space-around;

        padding-left: 15px;
    }

    .footer-base {
        margin: 0;
    }

    .social-block .social-list {
        margin-bottom: 0;
    }
}

/* =============================== modal ========================*/

@media screen and (min-width: 320px) {
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(46, 47, 66, 0.40);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 288px;
        min-height: 584px;
        transform: translate(-50%, -50%) scale(1);
        border-radius: 4px;
        background-color: var(--dairy);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .modal-close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cornflower);
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-modal {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close:hover,
    .modal-close:focus {
        fill: var(--white);
        background-color: var(--ocean);
        border: none;
    }

    .modal-title {
        color: var(--navyblue);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .input-cont {
        margin-bottom: 8px;
    }

    .modal-label {
        margin-bottom: 8px;
        color: var(--cloudslate);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        margin-bottom: 4px;
    }

    .thumb {
        position: relative;
    }

    .modal-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        background-color: transparent;
        outline: transparent;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 38px
    }

    .modal-input:focus {
        border: 1px solid var(--iris);
    }

    .modal-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        width: 18px;
        height: 24px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus+.modal-icon {
        fill: var(--iris);
    }

    .comment-container {
        margin-bottom: 16px
    }

    .modal-comment {
        resize: none;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-comment:focus {
        border-color: var(--iris);
    }

    .modal-comment.modal-input {
        padding: 8px 16px;
    }

    .checkbox-container {
        position: relative;
        margin-bottom: 24px;
    }

    .modal-text {
        display: flex;
        align-items: center;
        color: var(--cloudslate);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .checkbox-custom {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-right: 8px;
    }

    .check {
        width: 10px;
        height: 8px;
    }

    .checkbox-real:checked+.modal-text .checkbox-custom {
        background-color: var(--ocean);
        border: none;
        fill: var(--cloud);
    }

    .accent {
        color: var(--iris);
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}